/*
 *  Copyright Pure Mashiro. All rights reserved.
 *  @author Mana Light
 */

.bundle_js.collect_bundle {
  a {
    text-decoration: none;
    color: #514943;
    &:visited {
      color: #514943;
    }
  }
}